body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.modal {
	position:relative;
	top:auto;
	right:auto;
	left:auto;
	bottom:auto;
	z-index:1;
	display:block
}

.modal-dialog {
	width:90%
}
